# Others
sql/

# junctions
MyThink
hosts

# compile result
*.min.js
*.min.css
*/*.min.js
*/*.min.css

# local runtime
_runtime
*.ini
*.data
*.cache.php

# ide settings
.idea

# Recycle Bin used on file shares
.Trash-*

# log
*.log
log

# host spec settings 
defines.php
