<!DOCTYPE html>
<html>
<head>
	<title>{__TITLE__}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	{__STYLE__}
	<style>
		body{background-color: #eee;}
		body>#wraper{opacity: 0;transition: opacity 1s;}
		body.loaded>#wraper{opacity: 1;}
		body>#loading{display: block;}
		body.loaded>#loading{display: none;}
	</style>
	{__SCRIPT__}
	<script type="text/javascript" wrap="ready" declare="$body">
		$body = $('body').addClass('loaded');
	</script>
</head>
<body>
<div id="wraper">
	{__CONTENT__}
</div>
<div id="loading">页面正在载入～</div>
</body>
</html>
