@import '../variables.less';
@import '../mixins.less';
@import '../mymixins.less';

@media (min-width: @screen-sm)  and (max-width: @screen-md) {
	.nav {
		height: 48px;
	}

	#search {
		margin-top: 2px;
		input, .btn {
			.border-top-radius(0);
		}
	}
}

#wrap {
	padding: 5px;

	#mainInfo {
		position: relative;
		@media (min-width: @screen-sm) {
			margin-left: 172px;
		}
		.left {
			z-index: 8;
			background: white;
			padding: 10px;
			margin: 0;
			@media (min-width: @screen-sm) {
				width: 170px;
				float: left;
				margin-left: -170px;
				left: 0;
			}

			> div {
				@media (max-width: @screen-sm) {
					display: inline-block;
				}
			}
			> img {
				width: 150px;
				height: 200px;
				vertical-align: top;
				outline: #51a297 dashed 1px;
			}
		}
		.center {
			z-index: 9;
			padding-left: 10px;
			@media (min-width: @screen-sm) {
				right: 0px;
				#basic {
					overflow: hidden;
					height: 200px;
				}
			}
		}
		.right {
			@media (min-width: @screen-md) {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

// 评分切换
#mainInfo {
	// 评分
	.vote_small {
		text-align: center;
		margin-top: 6px;
		cursor: pointer;

		@media (min-width: @screen-sm) {
			display: block;
		}
		@media (max-width: @screen-sm) {
			display: none;
		}

		.disp {
			display: inline-table;
			.name {
				.border-left-radius(4px);
				color: white;
				background: #c400ff;
				font-weight: bold;
				font-size: 20px;
				padding: 3px 16px;
			}
			.value {
				.border-right-radius(4px);
				background: white;
				.box-shadow(inset #c400ff 0px 0px 2px 1px);
				font-size: 20px;
				padding: 3px 12px;
			}
		}
	}
	.vote_large {
		@media (max-width: @screen-sm) {
			opacity: 1 !important;
		}
	}
	.vote_op {
		display: none;
	}

	.vote_large {
		position: absolute;
		left: 0;
		z-index: -1 !important;
		@transition: opacity 400ms;
		.transition(@transition);
		@media (min-width: @screen-sm) {
			opacity: 0;
		}
	}
	.center {
		background: #d8d8d8;
		top: 0;
		left: 0;
		@transition: margin-left 600ms ease, opacity 600ms;
		.transition(@transition);
		.transition-delay(200ms);
	}
	&.vote_show {
		.center {
			position: absolute;
			opacity: 0;
			z-index: -1 !important;
			margin-left: -30px;
			.transition-delay(0ms);
		}
		.vote_large {
			position: static;
			opacity: 1;
			.transition-delay(300ms);
		}
	}
}

#extend {
	@media (min-width: @screen-sm) {
		.info {
			float: right;
		}
	}
}

#WeiboContainer {
	padding: 10px;
	.wrap {
		min-height: 180px;
		position: relative;
		.Loader {
			z-index: 100;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.22);
			border-radius: 10px;
			.center {
				display: table;
				width: 100%;
			}
			.text {
				line-height: 100%;
				text-align: center;
				vertical-align: middle;
				margin: 0;
				width: 100%;
				display: table-cell;
			}
		}
	}
	.page_container {
		float: right;
		.pagination {
			margin: 0;
		}
	}
	.send_label {
		font-size: 24px;
	}

	.WBList {
		padding: 0;
		list-style: none;
		.weibo {
			padding: 10px;
			.hover-tip;
			background-repeat: no-repeat;
			margin: 7px;
			position: relative;
			.avatar {
				position: absolute;
				top: 0;
				left: 0;
				height: 48px;
				width: 48px;
			}
			.c {
				margin-left: 55px;
				min-height: 64px;
			}
			.user {
				font-weight: bold;
			}
			.time {
				float: right;
			}
			.foot {
				position: absolute;
				float: right;
				right: 0;
				bottom: 0;
				& > a {
					margin: 0 7px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		/* end 微博*/
		ul {
			list-style: none;
			padding-left: 30px;
			
			.weibo {
				clear: both;
				.avatar {
					margin-top: 3px;
					height: 24px;
					width: 24px;
				}
				.c {
					margin-left: 28px;
					min-height: 0;
				}
				.user {
					font-size: small;
				}
				.time {
					font-size: smaller;
					float: none;
				}
				.content {
					font-size: small;
				}
				.foot {
					display: none;
					& > a {
						margin: 0 5px;
					}
				}
				&:hover {
					.foot {
						display: block;
					}
				}
			}
			/* end 转发评论*/
		}
		/* end 微博评论列表*/
	}

	/* 微博列表*/
	.Sender {
		display: none;
		.forward-tip {
			display: none;
			position: relative;
			.tip {
				cursor: pointer;
			}
			.text {
				display: inline;
			}
			.content-tip {
				position: absolute;
				top: 110%;
				width: 300px;

				background: #ffffff;
				padding: 10px;
				border-radius: 5px;
				border: black 1px solid;

				clear: both;
				.avatar {
					float: left;
					margin-right: 20px;
				}
				.user {
					font-weight: bold;
				}
			}
		}
		textarea {
			margin-bottom: 10px;
			min-height: 100px;
		}
		&.forward {
			.forward-tip {
				display: inline-block;
			}
		}
	}

	.logout & {
		.foot {
			color: black;
			> a {
				color: black;
				&:hover {
					cursor: default;
					text-decoration: none;
				}
			}
		}
	}
	&.loaded {
		.Sender {
			display: block;
		}
	}
}

