@import '../basevar.less';
@import 'mixins.less';
@import 'variables.less';

// @import 'bootstrap.less';

body{
	min-width: 500px;
}

.gt-switcher {
	span {
		display: none;
		&:first-child {
			display: inline;
		}
	}
	&.loaded span {
		display: none;
	}
}

a {
	cursor: pointer;
}

.pagination {
	white-space: nowrap;
}

.pagination > li > a {
	.transition(background-color 300ms);
}

.pagination > .active > a {
	.transition(none);
}

textarea {
	resize: vertical;
}

.row-compact {
	margin: 0;
	&> [class^='col-'],
	&> [class*=' col-'] {
		padding: 0;
	}
}

.tip {
	@bg: #E5CFFF;
	@border: #9222A5;
	background: @bg;
	border: @border 1px solid;
	padding: 2px 8px;
	&.active {
		background: @bg;
		border: @border 1px solid;
	}

	&:hover {

	}
	&.disabled {
		background: transparent;
		border: transparent 1px solid;
	}
}

body {
	&.logout {
		.login_visable {
			display: none !important;
		}
	}
	&.login {
		.login_unvisable {
			display: none !important;
		}
	}
}
