.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.dptip (@bg: #E5CFFF; @border: #9222A5) {
	background: @bg;
	border: @border 1px solid;
	padding: 2px 8px;
	line-height: 1.8;
	&.active {
		color: #ffffff;
		background: darken(@bg,30%);
		border: @border 1px solid;
	}
	/*&:hover {
		.box-shadow(black 0 0 1px 0px)
	}*/
	&.disabled {
		background: #c4c4c4;
		border: darken(@border,30%) 1px solid;
	}
}

.hover-tip (@bg: #E5CFFF; @border: #9222A5) {
	border: transparent 1px solid;
	&.active, &:hover {
		background: @bg;
		border: @border 1px solid;
	}
}

.transform(...) {
	-ms-transform: @arguments;
	-webkit-transform: @arguments;
	transform: @arguments;
}

.transform-origin(@x,@y,@z:0) {
	-webkit-transform-origin: @x @y @z;
	-ms-transform-origin: @x @y @z;
	transform-origin: @x @y @z;
}

.perspective(@det){
	-webkit-perspective: @det;
	-moz-perspective: @det;
	-o-perspective: @det;
	-ms-perspective: @det;
	perspective: @det;
}

.columns(@number) {
	-moz-column-count: @number;
	-webkit-column-count: @number;
	column-count: @number;
	.column-gap(@size) {
		-moz-column-gap: @size;
		-webkit-column-gap: @size;
		column-gap: @size;
	}
	.column-rule(@options) {
		-moz-column-rule: @options;
		-webkit-column-rule: @options;
		column-rule: @options;
	}
}

.h1font() {
	font-weight: 500;
	line-height: 1.1;
	font-size: 36px;
}

.full_cover() {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
