<comment>
	<link href="/Public/bootstrap/css/bootstrap.css" rel="text/css"/>
</comment>
<layout name=":InfoSiteFrame">
	$title=$doc->origin_name . ' - 电波资讯';
</layout>
<BrowserLib>
	UI
	pure
	weibo
	scripts/mongolike.js
	scripts/infosite.entry_vote.js
	scripts/infosite.entry_page.js
	scripts/infosite.entry_comment.js
	styles/infosite.entry_page.less
	jslib-gt/enhanced_link.js
	jslib-gt/middle-click.js
</BrowserLib>
<AddHeader prepend="true">
	<script type="text/javascript">
		var doc = {$doc: json};
		var fields = {__ITEM_FIELDS__};
		var vote_catelog = {__VOTE_CATELOG__};
	</script>
</AddHeader>
<div class="container" id="mainContainer">
	<div id="wrap">
		<div id="mainInfo" class="row row-compact clearfix vote_show">
			<div class="left">
				<img src="{$doc->cover_pic}">
				<div class="text-center">
					<div class="vote_small">
						<table class="disp">
							<tr>
								<td class="name">剧情</td>
								<td class="value">5.5</td>
							</tr>
						</table>
						<div>
							<a>查看详情</a>
						</div>
					</div>
				</div>
			</div>
			<div class="vote_large col-sm-9"></div>
			<div class="center col-sm-9">
				<div id="basic" class="panel panel-tab panel-primary">
					<div class="hovershow trans-opacity panel-heading title">
						<span class="active">{$doc->origin_name}
						</span>
						<small class="hovershow-item">
							<a href="[%url app='info' action='Upload' method='index' param-id='{$doc._id}'/%]" class="text-muted">[修改]</a>
						</small>
						<if condition="count($doc['name']) gt 1">
							<section class="pull-right">
								<span style="position: relative;">
								<a data-toggle="dropdown" role="button">别名</a>
								<ul class="dropdown-menu" style="left: auto;right: 0;color: black;">
									<volist name="doc.name" id="content">
										<li><h3 class="text-center">{$content}</h3></li>
									</volist>
								</ul>
								</span>
							</section>
						</if>
					</div>
					<div class="panel-body active">xxxxx{$doc->intro}</div>
				</div>
			</div>
			<div class="right col-sm-3">
				<div class="bui-inputlist inline" name="name">
					<ul class="list">
						<li>
							<span class="bui-label">标签</span>
						</li>
						<li>
							<span class="bui-label">标了个签签签签签</span>
						</li>
						<li>
							<span class="bui-label">标签</span>
						</li>
					</ul>
					<div class="control">
						<input type="text" class="form-control input-sm" name="" placeholder="添加标签">
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div>
			<h4 class="hovershow trans-opacity">章节列表
				<small class="hovershow-item">
					<a href="[%url app='info' action='Chapter' method='edit' param-id='{$doc._id}'/%]" class="text-muted">[修改]</a>
				</small>
			</h4>

			<div class="bui-inputlist inline" name="name">
				<span class="tip">01</span>
				<span class="tip">02</span>
				<span class="tip">03</span>
				<div>

				</div>
			</div>
		</div>
		<div id="extend" class="row row-compact">
			<div class="info col-sm-3">
				<div>
					<span>[制作信息]</span>
					<span>[关联条目]</span>
				</div>
				<div>制作信息</div>
			</div>
			<div id="WeiboContainer" data-weibo-channel="info{$doc->_oid}" class="col-sm-9">
				<div class="wrap">
					<div class="Loader">
						<div class="center">
							<h1 class="text">
								<span class="clickStart">点击加载评论</span>
							</h1>
						</div>
					</div>
					<ul class="WBList">
						<li id="%id%" class="weibo hide">
							<img class="avatar" src=""/>
							<div class="c">
								<div class="head">
									<span class="user">
									<span class="nickname"></span>
									（
									<a class="user-link" target="_blank"></a>
									）
									</span>
									<span class="time">xxxx-xx-xx</span>
								</div>
								<div class="body">
									<div class="content"></div>
									<div class="forward"></div>
								</div>
							</div>
							<div class="foot">
								&nbsp;
								<a class="btnForward" data-id="%id%">转
								<span class="beforwardcount">(0)</span>
								</a>
								<a class="">评
								<span class="">(0)</span>
								</a>
								<a class="">赞</a>
							</div>
						</li>
					</ul>
					<div class="page_container">
						<include file="!items/page" id="mainpager" class="hide"/>
					</div>
				</div>
				<div class="Sender">
					<form action="" method="post" class="login_visable" onsubmit="return false;">
						<label class="send_label" for="weibo_content">发表评论：</label>
						<input type="hidden" name="forward_type" value="mirai/info-entry"/>
						<input type="hidden" name="forward_content" value="{$doc->_oid}"/>
						<textarea id="weibo_content" name="content" required="required" class="form-control show"></textarea>
						<input type="submit" class="btn btn-primary pull-right" value="发布"/>
						<div class="forward-tip">
							<div class="tip">
								<span class="text"></span>
								<span class="glyphicon glyphicon-remove"></span>
							</div>
							<div class="content-tip"></div>
						</div>
					</form>
					<div class="login_unvisable">
						<a href="[%url app='user' action='login' method='index'/%]">登录</a>
						或
						<a href="[%url app='user' action='register' method='index'/%]">注册</a>
						后可以发表评论。
					</div>
				</div>
			</div>
		</div>
		{$doc|var_dump}
	</div>
</div>
